body{
    background-color: #F2CED8;
  }
  
  .banner {
    background-image: url('../img/banner-principal.jpg');
    background-size: cover;
    height: 900px;
    position: relative;
    padding: 100px;
  }
  
  .banner::before {
    content: "";
    background: rgba(0, 0, 0, 0.5); /* Cor e transparência do overlay */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cobrir toda a largura do container */
    height: 100%; /* Cobrir toda a altura do container */
    z-index: -1; /* Colocar o overlay atrás do conteúdo */
  }

  .paddingUB{
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .img-banner{
    border-radius: 100px;
  }
  
  .banner-text {
    text-align: left;
    font-size: 80px;
    color: #392600;
    font-family: 'Ephesis', cursive;
  }
  .logo{
    font-size: 30px;
    font-family: 'Ephesis', cursive;
    color: #392600;
  }
  .font-custom{
    font-family: 'Ephesis', cursive;
  }
  .titulo{
    color: #392600;
    font-size: 50px;
  }
  .texto{
    font-family: 'Ephesis', cursive;
    font-family: 'Lora', serif;
    text-transform: initial;
    font-size: 18px;
  }
  
  footer{
    background-color: #8C2641;
  }
  
  #formulario{
    background-color: #E3B98F;
  }
  
  .fundo-menu{
    background-color: #732634;
  }